<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title"><%= Lib.title %></h5>
                <p class="card-text"><strong>Название:</strong> <%= Lib.title %></p>
                <p class="card-text"><strong>Описание:</strong> <%= Lib.description %></p>
                <p class="card-text"><strong>Авторы:</strong> <%= Lib.authors %></p>
                <p class="card-text"><strong>Избранная:</strong> <input type="checkbox" checked="<%= Lib.favorite %>"></p>
                <p class="card-text"><strong>Файл:</strong> <%=Lib.fileName %><a href="/<%=Lib.id %>/download"><input type="button" value="скачать"></a></p>

                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/update/<%= Lib.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/book/delete/<%= Lib.id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<%- include('../port/layout-end') %>